
* {
   
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url(/blueBackSoft.png);
    background-size: cover;
    width: 99%;
    height: 100%;
    margin-bottom: 50px;
    margin-top: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
}

header {
    width: 65%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 35px;
    text-align: center;
    background-image: url(/—Pngtree—galaxy\ galaxy\ starry\ night\ sky_1334816.png);
    background-size: cover;
    border-radius: 10px;
    box-shadow:  0 0 20px 3px rgb(11, 110, 240);
    border: 5px double rgb(5, 200, 230);
}



main {
    
}


aside ul {
    list-style: none;
}

aside ul li {
    text-align: center;
    margin: 5px;
    font-size: xx-large;
}

aside ul li a{
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
    font-weight: 500;
    border-radius: 5px;
}



main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

img.headerimage {
    width: 70%;
     border-radius: 15px;
     scale: 1.3;
}




h2 {
    color: rgb(10, 10, 180);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.card {
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 40%;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(40,39,50);
    border-radius: 10px;
    box-shadow: inset 0 0 7px 5px rgb(4, 89, 132);
    background-size: cover;
    font-size: larger;
    color: rgb(10, 75, 131);
    background-color: lightblue;

}



.card p {
    padding: 12px;
}



.bold {
    font-weight: 600;
    color:rgb(5, 49, 246);
}

.navbar {
    overflow: hidden;
    background-image: url(/blueBackLines.png);
    background-size: auto;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    margin-left: -8px;
    border-bottom: 3px double rgb(136, 130, 130);
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding-right: 10px;
    padding: 18px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .navbar a:hover {
    background-image: url(/—Pngtree—beautiful\ abstract\ grunge\ decorative\ navy_1306521.jpg);
    background-size: cover;
    border: 1px solid grey;
    font-style:italic;
    text-decoration: overline;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }